body {
  margin: 0;
  padding: 0;
}

#gmap {
  flex: 1;
  height: 100%
}

.container {
  display: flex;

}

.sidebar {
  height: 600px;
  background-color: #f5f5f5;
  padding: 20px;
  padding: 50px 60px;
}

.map-container {
  width: 75%;
}

@media (max-width:1400px) {
  .sidebar {
    width: 35%;
  }
}

@media (max-width: 968px) {

  .sidebar,
  .map-container {
    width: 100%;
  }

  .sidebar {
    height: 100%;
  }

  .map-container {
    height: 400px;
  }

  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {

  .sidebar,
  .map-container {
    width: 100%;
  }

  .sidebar {
    order: 2;
  }

  .map-container {
    order: 1;
  }

  .container {
    flex-wrap: wrap;
  }
}

.sidebar-title {
  padding-bottom: 40px;
  color: #222;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 34px
}

.accordion-item {
  margin-bottom: 10px;
  transition: transform 1s ease, top 1s ease, left 1s ease;

}

.accordion-header.active {
  background-color: #e2e2e2;
}

.accordion-body {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}


.accordion-header {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  color: black;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, transform 0.5s ease;
}

.accordion-header:hover {
  background-color: #FF9700;
  border: 1px solid #FF9700;
  color: white;

}

.accordion-header.active {
  border: 1px solid #FF9700;
  background-color: #FF9700;
  color: white;
}

.accordion-body {
  padding: 0;
}

.accordion-body {
  overflow: hidden;
}

.accordion-enter-active,
.accordion-leave-active {
  transition: max-height 0.5s ease;
}

.accordion-enter,
.accordion-leave-to {
  max-height: 0;
}

.accordion-enter-to {
  max-height: 400px;
}

.category-name {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px
}

.category-item {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 0.3;
  /* Adjust this value as needed */

}

.accordion-body button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  color: #FF9700;
  margin-bottom: 10px;
}

ul {
  padding: 7px;
  margin: 0;
}

ul li::marker {
  color: black;
}